@import "../../style/colors.less";

.page-login {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .btn-group {
    display: flex;
    flex-direction: column;
    width: 90%;
    .btn {
      display: flex;
      width: 100%;
      height: 80px;
      justify-content: center;
      align-items: center;
      font-size: 28px;
      margin-top: 24px;
    }
    .login-btn {
      background-color: @wx-theme-color;
      color: #fff;
      at-icon {
        margin-right: 12px;
      }
    }
  }
}
